
@import url(https://fonts.googleapis.com/css?family=Prompt);

img { 
max-width: 100%;
height: auto;
}
.wi { 
color:aqua;
}

.weather {
width: 100%;
height: 768px;
border: 2px solid black;
background-size:cover;
background-repeat: no-repeat;
}

.info { 
text-align: center;
font-family: "Prompt";
font-size: 150%;
margin-top: 10%;
border: 2px solid black;
color:white;
background-color:#1D1F20;
border-radius: 2px;
}


